html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #E96D6D;
    border-radius: 20px;
}
.nav-1{
    width: 100%;
    height: 42.72px;
    background: #FFF0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 10px;
}
.nav-1{
    width: 100%;
    height: 42.72px;
    background: #FFF0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 10px;
} 
body{
    background-color: #F8F8F8;
}
@font-face {
    font-family: "dosis-open-sans";
    src: url("/Fonts/Dosis-Regular.ttf");
}
@font-face {
    font-family: "open-sans";
    src: url("/Fonts/OpenSans-Light.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.li-1 li{
    font-family: "open-sans";
    font-weight: bold;
}
.li-2 li{
    font-family: "open-sans";
    font-weight: bold;
    margin-left: 30px;
}
li{
    font-size: 16px;
    font-weight: 300;
    display: inline;
    margin-left: 3px;
    cursor: pointer;
}
li:hover {
    color: #EA6D6D;
}
.nav-2{
    height: 109px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.nav-3 li{
    font-size: 26px;
    margin-left: 25px;
    font-family: "dosis-open-sans";
}
input[type="search"] {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    padding-left: 30px;
    font-size: 1.3vw;
    border: none;
    background-color: #F8F8F8;
}
input[type="search"]:hover {
    border: 2px solid  #EA6D6D;;
}
i{
    font-size: 16px;
    margin-left: 25px;
}
i:hover{
    color: #E96D6D;
}
.search i {
    font-size: 26px;
}
a {
    text-decoration: none;
    color: black;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.section-1 {
    width: 450px;
    height: 494.59px;
    background-color: white;
    border-radius: 30px;
    padding: 30px 0px 0px 30px;
}
.section-1 h1 {
    font-family: "dosis-open-sans";
    font-size: 3.5vw;
    color: #E96D6D;
}
.section-1 p {
    font-family:"dosis-open-sans";
    font-size: 1.4vw;
}
.section-1 h2 {
    font-size: 1.6vw;
    font-family:"dosis-open-sans";
    font-weight: 700;
}
.section-1 a {
    font-size: 1.4vw;
    font-family:"dosis-open-sans";
    color: #E96D6D;
}
.section-2 {
    width: 800px;
    height: 494.59px;
    background-color: white;
    border-radius: 30px;
    padding: 30px 0px 0px 30px;
}
.section-2 h3 {
    font-size: 2.5vw;
    font-family:"dosis-open-sans";
    color: #E96D6D;
}
.form {
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
}
label {
    font-family:"dosis-open-sans";
    font-size: 1.3vw;
    display: block;
    /* margin-bottom: 10px; */
}
input{
    margin-top: 10px;
}
input[type="text"] {
    width: 290px;
    height: 41px;
    border-radius: 20px;
    border: none;
    background-color: #080E141A;
}
input[type="email"] {
    width: 290px;
    height: 41px;
    border-radius: 20px;
    border: none;
    background-color: #080E141A;
}
.ni{
    margin-top: 10px;
}
textarea {
    width: 600px;
    height: 83px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}
button {
    width: 119.44px;
    height: 38px;
    background-color: #D45A5A;
    color: white;
    border: none;
    border-radius: 20px;
    font-family:"dosis-open-sans";
    font-size: 14px;
}
.payments{
    width: 100%;
    height: 110px;
    background-color: #FDF0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
h6{
    font-size: 22px;
    font-family:"dosis-open-sans";
}
.footer {
    width: 100%;
    height: 323.39px;
    background-color: white;
    padding: 30px 25px 0px 30px;
    display: flex;
    justify-content: space-between;
}
.line ul li {
    display: block;
    font-family:"dosis-open-sans";
    font-size: 22px;
    margin: 15px 0px 0px;
}
.line p {
    font-size: 18px;
    font-family:"dosis-open-sans";
}
a {
    text-decoration: none;
    font-size: 18px;
}
.end-text {
    width: 100%;
    height: 77px;
    background-color: white;
}
.end-text h6 {
    font-weight: 400;
    text-align: center;
}
.end-text p {
    color: black;
    margin: 0px;
    text-align: center;
    font-family: "dosis-open-sans";
}
.line p {
    color: black;
    margin: 0px;
}
.line i {
    margin: 0px;
    font-size: 20px;
}